html {
    background: url("../universalMedia/backgroundImage.png") repeat top right;
    background-size: 35%;
    font-family: 'Chocolate Classical Sans', Arial, sans-serif;
    color: white;
}

footer {
    text-align: left;
    width: 100%;
    height: fit-content;
    display: inline-flex;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2%;
}

footer> a {
    padding-top: 0.85%;
    padding-right: 1%;
}